// Configuration file for scorpiond

//#define CONFIG_MAINTENANCE "41 86400 Down for maintenance\r\n"
#define CONFIG_MAX_REQUEST 0x800
#define CONFIG_MAX_NAME 0x100
#define CONFIG_ROOT "/var/scorpion"
#define CONFIG_TIMELIMIT 600
#define CONFIG_UNEXPECTED_ERROR_TIME "?"
#define CONFIG_DEFAULT_MIMETYPE ":"
#define CONFIG_DEFAULT_FILENAME "default.scorp"
#define CONFIG_DIRLIST 1
#define CONFIG_FILENAME_CHARSET 0x10
#define CONFIG_SAFE_FILENAMES 1
#define CONFIG_ALLOW_CGI 1
#define CONFIG_CANCEL_ALARM 1
#define CONFIG_FILEMODE_ACCESS (S_IRGRP|S_IROTH)
#define CONFIG_FILEMODE_EXECUTE (S_IXGRP|S_IXOTH)
//#define CONFIG_USER_DIR "scorpion_public"
//#define CONFIG_ALLOW_USER_CGI 1
#define CONFIG_ALLOW_SOCKET 1
#define CONFIG_ALLOW_USER_SOCKET 1
#define CONFIG_BUF_SIZE 0x2000

static const MimeDef mimetypes[]={
  {"gemini","text/gemini"},
  {"gmi","text/gemini"},
  {"png","image/png"},
  {"sco","document:scorpion"},
  {"scorp","document:scorpion"},
  {"txt","text/plain"},
  {"zip","archive:zip"},
};
